.steps-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  width: auto;
  user-select: none;
  flex-wrap: wrap;
  gap: 2px;
}
.innocent {
  background-color: hsl(0, 0%, 90%);
  border-radius: 5px;
}
.punishable {
  background-color: #ffd4d4;
  border-radius: 5px;
}
.action-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  user-select: none;
}
.action {
  position: relative;
  border: 2px solid;
  font-size: 60px;
  padding: 30px;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.action-container > div:active {
  background-color: purple;
}
.bad {
  background-color: red;
}
.good {
  background-color: greenyellow;
}
.fix-icon {
  margin-top: -1px;
}
.congrats {
  font-size: 15px;
  text-align: center;
  padding: 12px 0px;
}
.congrats > span {
  font-size: 100px;
  user-select: none;
}

.attempts {
  font-size: larger;
  font-family: monospace;
}

table {
  font-family: monospace;
  font-size: 30px;
  padding: 10px 20px;
  background-color: #dad7df;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
  user-select: none;
}

.reset {
  user-select: none;
  font-size: 50px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}

.bad-report-section {
  position: absolute;
  top: 142px;
  left: 1px;
  font-size: 15px;
}

.good-report-section {
  position: absolute;
  top: 141px;
  right: 10px;
  font-size: 15px;
}

.good-text {
  color: green;
  font-weight: bolder;
}

.bad-text {
  color: red;
  font-weight: bolder;
}

.feedback-container {
  position: absolute;
  top: 0px;
  width: 100%;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.image {
  width: 100%;
  position: fixed;
  bottom: 0px;
}

img {
  width: inherit;
  height: 240px;
}

.red {
  background-color: #ff2222;
}
